# 指定根目录下文件的Code Owner

@xuanjz @amy_mayun

# 指定流程配置的Code Owner

/.gitcode/ @xuanjz

# 指定docs/dev-guide目录下文件的Code Owner

/docs/dev-guide/ @wuying21 @Augus_Jan @wyq1213 @Timi3

# 指定docs/tools目录下文件的Code Owner

/docs/tools/ @chopupu @zjdd @zxudong @Ant2024

# 指定docs/dev-guide/source_en/multiplatform/ 下互操作相关文件的Code Owner
/docs/dev-guide/source_en/multiplatform/cangjie-ios-objc.md @wuying21 @jiadiliu @HsError
/docs/dev-guide/source_en/multiplatform/cangjie-android-Java.md @wuying21 @jiadiliu @HsError

# 指定docs/dev-guide/source_zh_cn/multiplatform/ 下互操作相关文件的Code Owner
/docs/dev-guide/source_zh_cn/multiplatform/cangjie-ios-objc.md @wuying21 @JasmineZhu @HsError
/docs/dev-guide/source_zh_cn/multiplatform/cangjie-android-Java.md @wuying21 @JasmineZhu @HsError